---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import type {ImageMetadata} from 'astro';
import {SITE_DESCRIPTION} from '../consts';

interface Props {
	title: string;
	description?: string;
	noIndex?: boolean;
	ogType?: 'website' | 'article';
	publishedTime?: string | Date;
	modifiedTime?: string | Date;
	image?: ImageMetadata;
}

const {
	title,
	description,
	noIndex,
	ogType,
	publishedTime,
	modifiedTime,
	image,
} = Astro.props as Props;
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<BaseHead
			title={title}
			description={description ?? SITE_DESCRIPTION}
			noIndex={noIndex}
			ogType={ogType}
			publishedTime={publishedTime}
			modifiedTime={modifiedTime}
			image={image}
		/>
	</head>
	<body class='bg-gray-900 text-cyan-100 w-full flex flex-col items-center'>
		<slot />
		<!-- your content is injected here -->
		<Footer />
	</body>
</html>
